<% layout ("layouts/boilerplate") %> 
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
            <!-- TITLE OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>"
                    placeholder="Enter Campground Title">
            </div>

            <!-- LOCATION OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>"
                    placeholder="Enter Campground Location">
            </div>

            <!-- IMAGE OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %>"
                    placeholder="Enter Campground Image URL">
            </div>

            <!-- DESCRIPTION OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" 
                    placeholder="Enter Campground Description"><%=campground.description%></textarea>
            </div>

            <!-- PRICE OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="$0.00" aria-label="price" value="<%= campground.price %>"
                        name="campground[price]" aria-describedby="price-label">
                </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
</div>