<% layout ("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <!-- TITLE OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= campground.title %>" placeholder="Enter Campground Title" required>
                <!-- Feedback Validation -->
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- LOCATION OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%= campground.location %>" placeholder="Enter Campground Location" required>
                <!-- Feedback Validation -->
                <div class="valid-feedback">Great!</div>
            </div>

            <!-- IMAGE OF CAMPGROUND -->
            <div class="mb-3">
                <label for="image" class="form-label" id="image">Add More Image(s):</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>

            <!-- DESCRIPTION OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    placeholder="Enter Campground Description" required><%=campground.description%></textarea>
                <!-- Feedback Validation -->
                <div class="valid-feedback">Great Description!</div>
            </div>

            <!-- PRICE OF CAMPGROUND -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="$0.00" aria-label="price"
                        value="<%= campground.price %>" name="campground[price]" aria-describedby="price-label"
                        required>
                    <!-- Feedback Validation -->
                    <div class="valid-feedback">Perfect!</div>
                </div>
            </div>
            <!-- DELETE EXISTING IMAGES -->
            <div class="mb-3">
                <% campground.images.forEach(function(img,i) { %>
                <img src="<%= img.url %>" class="img-thumbnail" alt="">
                <% }) %>
            </div>
            <!-- SUBMIT BUTTON -->
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
</div>