<% layout ("layouts/boilerplate") %>
<!-- CAMPGROUND SECTION -->
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <!-- CAMPGROUND IMAGE TITLE AND DESCRIPTION -->
            <img src="<%= campground.image %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <!-- CARD LOCATION AND PRICE -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item"> $<%= campground.price %>/night</li>
            </ul>
            <!-- EDIT, VIEW ALL BUTTONS -->
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                <a class="card-link btn btn-success" href="/campgrounds">View All</a>
                <!-- DELETE BUTTON -->
                <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <!-- FOOTER -->
            <div class="card-footer text-muted">
                Posted 5 days ago
            </div>
        </div>
    </div>
    
    <!-- REVIEW SECTION-->
    <div class="col-6">
        <form action="/campgrounds/<%= campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <!-- RATING SLIDER-->
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <!-- REVIEW TEXT BODY -->
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <!-- Feedback Validation -->
                <div class="valid-feedback">Great Description!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <!-- DISPLAY RATING AND REVIEWS-->
        <% for(let review of campground.reviews) {%>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%=review.rating%></h5>
                    <p class="card-text">Review: <%=review.body%></p>
                    <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete Review</button>
                    </form>
                </div>
            </div>
        <% } %> 
    </div>
</div>