<% layout ("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<!-- CAMPGROUND SECTION -->
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <!-- CAMPGROUND IMAGE TITLE AND DESCRIPTION -->
            <% for (let img of campground.images){ %>
            <img src="<%= img.url %>" class="card-img-top">
            <% } %>
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <!-- CARD LOCATION, AUTHOR AND PRICE -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">Submitted by: <%= campground.author.username %></li>
                <li class="list-group-item"> $<%= campground.price %>/night</li>
            </ul>
            <% if (currentUser && campground.author.equals(currentUser._id)) {%>
            <!-- EDIT, VIEW ALL BUTTONS -->
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                <a class="card-link btn btn-success" href="/campgrounds">View All</a>
                <!-- DELETE BUTTON -->
                <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <!-- FOOTER -->
            <div class="card-footer text-muted">
                Posted 5 days ago
            </div>
        </div>
    </div>

    <!-- REVIEW SECTION-->
    <div class="col-6">
        <% if (currentUser){%>
        <h2>Leave A Review</h2>
        <form action="/campgrounds/<%= campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <!-- RATING SLIDER-->
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div> -->
            <!-- STARABILITY STARS FOR REVIEWING -->
            <div class="mb-3">
                <fieldset class="starability-grow">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <!-- REVIEW TEXT BODY -->
            <div class="mb-3">
                <label class="form-label" for="body">Enter Your Review Here:</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <!-- Feedback Validation -->
                <div class="valid-feedback">Great Description!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        <!-- DISPLAY RATING AND REVIEWS-->
        <% for(let review of campground.reviews) {%>
        <div class="card mb-3">
            <div class="card-body">
                <!-- STARABILITY STAR DISPLAY IN REVIEW-->
                <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%=review.rating%> Stars
                </p>
                <h6 class="card-subtitle mb-2 text-muted">Written by: <%= review.author.username%></h6>
                <p class="card-text">Review: <%=review.body%></p>
                <% if (currentUser && review.author.equals(currentUser._id)) {%>
                <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete Review</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>